.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
	vertical-align: middle;
}

#date {
	width: 170px;
}

#tag, #description, #name {
	min-width: 150px;
}

#withdraw, #deposit {
	min-width: 80px;
}